html, body{ margin: 0}

.circular-button{
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #eaeaea00;
    border: none;
    cursor: pointer;
    transition: transform 0.3s;
    transform-origin: center center;
}

.circular-button:hover {
    transform: scale(1.1);
  }

.circular-button-one {
    top: 40%;
    left: 100px;
  }

  .circular-button-two {
    top: 65%;
    left: 500px;
  }
  .circular-button-three {
    top: 15%;
    right: 500px;
  }
  .circular-button-four {
    top: 40%;
    right: 100px;
  }
  
  .circular-image {
    border-radius: 50%;
  }



.nextButton {
  position: absolute;
  top: 50%;
  right: 20px;
}


.inverter {
  transform: scaleX(-1);
}


.ganhador-moedas {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #ffd700;
  color: #000000;
  font-size: 25px;
  border-radius: 8px;
  animation: fadeInOut 5s;
  z-index: 999999;
}
