html, body{ margin: 0}

.circular-button{
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #eaeaea00;
    border: none;
    cursor: pointer;
    transition: transform 0.3s;
    transform-origin: center center;
}


  .circular-image {
    border-radius: 50%;
  }


.ganhador-moedas {
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: rgba(199, 196, 196, 0.566);
  color: rgb(171, 171, 1);
  font-size: 25px;
  border-radius: 8px;
  animation: fadeInOut 5s;
  align-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  z-index: 999999;
}