html, body{ margin: 0}

.btn-menu {
    padding: 2rem;
    background-color: #2980b9;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0 1rem;
  
    &:hover {
      background-color: #1a5276;
    }
  
    &:active {
      background-color: #154360;
    }
}

.circular-button{
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #eaeaea00;
    border: none;
    cursor: pointer;
    transition: transform 0.3s;
    transform-origin: center center;
}

.circular-button:hover {
    transform: scale(1.1);
  }

.circular-button-one {
    top: 40%;
    left: 100px;
  }

  .circular-button-two {
    top: 65%;
    left: 500px;
  }
  .circular-button-three {
    top: 15%;
    right: 500px;
  }
  .circular-button-four {
    top: 40%;
    right: 100px;
  }
  
  .circular-image {
    border-radius: 50%;
  }



.nextButton {
  position: absolute;
  top: 50%;
  right: 20px;
}


.inverter {
  transform: scaleX(-1);
}

.confirmation-box {
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translateX(-50%);
  background-color: #f1f1f1;
  border: 1px solid #0a0a0a;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.buttons {
  margin-top: 10px;
}

.buttons button {
  margin-right: 10px;
  padding: 8px 16px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.buttons button:hover {
  background-color: #ddd;
}

.btn-yes {
  color: #fff;
  background-color: #27ae60;
}

.btn-no {
  color: #fff;
  background-color: #c0392b;
}


@keyframes fadeInOut {
  0% { opacity: 0; }
  10% { opacity: 1; }
  90% { opacity: 1; }
  100% { opacity: 0; }
}

.ganhador-moedas {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #ffd700;
  color: #ffffff;
  font-size: 18px;
  border-radius: 8px;
  animation: fadeInOut 3s;
  z-index: 999999;
}
